version: '3'

services:
    web:
        build: ./docker/nginx
        volumes:
            - ./docker/nginx:/etc/nginx/conf.d/
            - .:/app
        ports:
            - '80:80'
        links:
            - node1:node1
            - node2:node2
    node1:
        build: ./
        working_dir: /app
        volumes:
            - .:/app
        links: 
            - mongo
    node2:
        build: ./
        working_dir: /app
        volumes:
            - .:/app
        links: 
            - mongo
    mongo:
        image: mongo
        ports:
            - '27017:27017'
